node_modules/
lerna-debug.log
npm-debug.log
packages/*/build
packages/*/dist
packages/*/coverage
coverage
coverage-ts
.idea
.vscode
.turbo
build/**
dist/**
.next/**
generated
*.log
.DS_Store

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.tgz

# docker
utils/graph/data

# tests
.nyc_output
coverage/

# scripts
scripts/abi-signatures.csv

# temp directory
/temp