node_modules/
lerna-debug.log
npm-debug.log
packages/*/build
packages/*/dist
packages/*/coverage
coverage
.idea
.turbo
build/**
dist/**
.next/**

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.tgz

# docker
utils/graph/data

# tests
.nyc_output
coverage/