name: "Publish alpha/latest release"

on:
  push:
    branches:
      - main
  workflow_call:
    inputs:
      publish_latest:
        required: true
        type: boolean
    secrets:
      ORMI_0x_GRAPH_API_KEY_TESTING:
        required: true
      THE_GRAPH_STUDIO_DEPLOY_KEY:
        required: true
      BSNORG_ACTIONS_SECRET:
        required: true
      GITHUB_TOKEN:
        required: true

jobs:
  publish:
    name: Publish alpha packages
    runs-on: ubuntu-latest
    if: ${{ !inputs.publish_latest }}
    outputs:
      SUBGRAPH_CHANGES: ${{ steps.export-changed-subgraph-files.outputs.SUBGRAPH_CHANGES }}
    permissions:
      id-token: write # Required for trusted publishing (https://docs.npmjs.com/trusted-publishers)
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.BSNORG_ACTIONS_SECRET }}
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: "0"
      - name: Setup .npmrc file for publish
        uses: actions/setup-node@v3
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"
      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v3
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ runner.os }}
      - run: npm ci
      - run: npm run build -- --cache-dir=".turbo"
      - name: Set github bot
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Bump next versions
        env:
          GH_TOKEN: ${{ secrets.BSNORG_ACTIONS_SECRET }}
          GITHUB_TOKEN: ${{ secrets.BSNORG_ACTIONS_SECRET }}
        run: |
          npx lerna version \
            --yes \
            --conventional-prerelease \
            --no-git-tag-version \
            --no-changelog \
            --no-push
      - name: Get all changed files in subgraph workspace
        id: changed-subgraph-files
        uses: tj-actions/verify-changed-files@v20
        with:
          files: packages/subgraph/**
      - name: Export if changed files in subgraph workspace
        id: export-changed-subgraph-files
        env:
          SUBGRAPH_CHANGES: ${{ steps.changed-subgraph-files.outputs.files_changed }}
        run: |
          echo "SUBGRAPH_CHANGES=$SUBGRAPH_CHANGES"
          echo "SUBGRAPH_CHANGES=$SUBGRAPH_CHANGES" >> "$GITHUB_OUTPUT"
      - name: Commit changes
        env:
          GH_TOKEN: ${{ secrets.BSNORG_ACTIONS_SECRET }}
          GITHUB_TOKEN: ${{ secrets.BSNORG_ACTIONS_SECRET }}
        run: |
          git add .
          git commit -m "chore(release): publish alpha [skip ci]"
      - name: Publish to npm
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx lerna publish from-package --dist-tag alpha --yes
          git push

  call-deploy-testing-subgraph:
    uses: ./.github/workflows/deploy-testing-subgraph.yaml
    # condition only if packages/subgraph workspace has changed
    needs: publish
    if: needs.publish.outputs.SUBGRAPH_CHANGES == 'true'
    secrets:
      ORMI_0x_GRAPH_API_KEY_TESTING: ${{ secrets.ORMI_0x_GRAPH_API_KEY_TESTING }}
      THE_GRAPH_STUDIO_DEPLOY_KEY: ${{ secrets.THE_GRAPH_STUDIO_DEPLOY_KEY }}
      GH_TOKEN: ${{ secrets.BSNORG_ACTIONS_SECRET }}

  publish_latest_release:
    name: Publish latest packages
    runs-on: ubuntu-latest
    if: ${{ inputs.publish_latest }}
    permissions:
      id-token: write # Required for trusted publishing (https://docs.npmjs.com/trusted-publishers)
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.BSNORG_ACTIONS_SECRET }}
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: "0"
      - name: Setup .npmrc file for publish
        uses: actions/setup-node@v3
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"
      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v3
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ runner.os }}
      - run: npm ci
      - run: npm run build -- --cache-dir=".turbo"
      - name: Publish
        env:
          GH_TOKEN: ${{ secrets.BSNORG_ACTIONS_SECRET }}
          GITHUB_TOKEN: ${{ secrets.BSNORG_ACTIONS_SECRET }}
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

          npx lerna publish --dist-tag latest --conventional-graduate --yes --create-release github
