name: "Publish latest release"

on:
  workflow_dispatch:

jobs:
  call-publish-release:
    name: Call publish release workflow
    uses: ./.github/workflows/publish-alpha.yaml
    with:
      publish_latest: true
    secrets:
      ORMI_0x_GRAPH_API_KEY_TESTING: ${{ secrets.ORMI_0x_GRAPH_API_KEY_TESTING }}
      THE_GRAPH_STUDIO_DEPLOY_KEY: ${{ secrets.THE_GRAPH_STUDIO_DEPLOY_KEY }}
      BSNORG_ACTIONS_SECRET: ${{ secrets.BSNORG_ACTIONS_SECRET }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

